*{
    margin: 0;
    padding: 0;
    font-family: outfit;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: auto;
    margin-top: 180px;
    

}

.form-div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 5px lightgray;
}

.form-div h1{
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}

.form-div label{
    text-transform: uppercase;
    font-size: 14px;
}

.form-div input{
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    margin: 10px 0px;
    cursor: pointer;
}

.footer-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form button{
    padding: 6px;
    margin-top: 10px;
    background-color: dodgerblue;
    border: none;
    outline: none;
    color: white;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}
.footer-form p{
    font-size: 12px;
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
}


.footer-form button:active{
    transform: scale(0.9);
}

.image-div{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 600px;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;

}


.image-div h1{
    font-weight: 300;
    margin: 10px;
}

.image-div p{
    font-weight: 300;
    margin: 10px;
}

.image-div button{
    padding: 6px;
    margin: 10px;
    margin-top: 10px;
    background-color: rgba(255, 0, 0, 0.566);
    border: none;
    outline: none;
    color: white;
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
}

.image-div button:active{
    transform: scale(0.9);
    background-color: red;
}